.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
site_build
venv
docs.zip
archive.zip
trained_knn_model.clf

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store

# key
app/.env

# test - sh
app/result_img/*
.test
.venv
stargan