@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "IM_Hyemin-Bold";
	src: url("/assets/fonts/IM_Hyemin-Bold.ttf");
}

@font-face {
	font-family: "IM_Hyemin-Regular";
	src: url("/assets/fonts/IM_Hyemin-Regular.ttf");
}

:root {
	background-color: #ffffff;
	padding: 0;
}
